## Import Data

In [1]:
import pandas as pd
import numpy as np

et = pd.read_csv('ELOtimeline0mrr.csv')
et.describe

<bound method NDFrame.describe of    Unnamed: 0     1.1     2.1      3.1      4.1      5.1      6.1      7.1  \
0        John  1000.0  1016.0  1031.63  1046.18  1029.07  1043.77  1058.76
1      Justin  1000.0   984.0   966.90   983.65   965.14   948.28   929.50
2        Nate  1000.0  1016.0  1030.90  1044.72  1044.28  1058.25  1056.65
3        Nick  1000.0  1000.0   983.63   966.19   984.70  1000.53  1015.34
4        Shev  1000.0   984.0   983.63   966.19   966.64   949.78   931.86
5       Pfeff  1000.0  1000.0   998.90   996.69   999.99  1016.79  1031.63
6       Derek  1000.0   984.0   966.90   950.15   951.15   949.47   931.54
7        Sean  1000.0  1016.0  1015.63  1031.62  1047.17  1032.59  1045.88
8       Eddie  1000.0  1016.0  1030.90  1030.88  1016.70  1000.86  1001.31
9        Pete  1000.0   984.0   983.63   966.15   984.06   984.13   966.31
10      James     NaN     NaN      NaN      NaN      NaN      NaN      NaN
11       Zach     NaN     NaN      NaN      NaN      NaN      NaN      NaN
12       Loof     NaN     NaN      NaN      NaN      NaN      NaN      NaN

        8.1      9.1  ...      5.3      6.3      7.3      8.3      9.3  \
0   1073.48  1084.28  ...  1076.23  1067.20  1047.78  1060.26  1072.12
1    930.18   909.55  ...  1004.12  1005.75  1022.62  1033.29  1009.14
2   1043.21  1030.23  ...   983.15   958.12   974.43   953.19   971.59
3   1015.46   999.71  ...   919.20   938.87   944.08   916.71   935.97
4    951.64   933.92  ...   891.24   865.24   885.78   881.69   855.24
5   1015.77  1000.09  ...  1007.08   985.16   959.16   976.77   973.65
6    912.51   932.69  ...   838.50   860.26   856.84   829.75   819.30
7   1033.49  1048.25  ...  1002.38   977.97   956.52   934.31   911.82
8   1017.89  1034.10  ...   962.63   975.45   992.52  1009.49   981.85
9    982.18   997.89  ...      NaN      NaN      NaN      NaN      NaN
10      NaN      NaN  ...      NaN      NaN      NaN      NaN      NaN
11      NaN      NaN  ...      NaN      NaN      NaN      NaN      NaN
12      NaN      NaN  ...  1047.41  1061.64  1039.05  1027.96  1041.16

       10.3     11.3     12.3     13.3     14.3
0   1050.56  1062.36  1077.15  1086.15  1097.25
1   1027.12  1039.76  1019.33   997.50   977.14
2    949.98   940.31   919.66   895.07   881.76
3    955.67   946.13   961.77   939.35   938.86
4    875.54   845.94   842.00   837.60   808.29
5    953.22   948.99   923.03   898.34   918.95
6    813.10   815.86   840.16   862.30   853.75
7    889.63   863.96   844.01   838.18   810.42
8    977.20   951.65   970.30   984.37   999.38
9       NaN      NaN      NaN      NaN      NaN
10      NaN      NaN      NaN      NaN      NaN
11      NaN      NaN      NaN      NaN      NaN
12  1053.29  1062.78  1060.81  1074.69  1086.49

[13 rows x 43 columns]>

In [2]:
st = pd.read_csv('ScoreTimeline.csv')
st.describe

<bound method NDFrame.describe of    Unnamed: 0     1.1     2.1     3.1     4.1     5.1     6.1     7.1     8.1  \
0        John  147.06  151.92  152.24  121.68  152.82  172.70  178.38  177.60
1      Justin  128.06  136.26  146.84  105.60  128.86  141.68  175.46  127.36
2        Nate  150.20  174.28  129.32  159.66  155.88  147.48  117.90  120.98
3        Nick  142.34  118.68  123.88  157.86  138.10  183.76  127.96  133.52
4        Shev  128.98  144.86  102.22  137.26  117.84  117.40  183.98  123.86
5       Pfeff  119.12  140.68  121.28  138.78  141.22  154.28   83.88  115.42
6       Derek   94.24  125.46  105.40  138.02  122.84  110.92   96.50  152.14
7        Sean  163.44  147.20  157.50  167.58  113.18  152.00  141.76  136.52
8       Eddie  169.74  141.84  146.86  132.46  115.98  128.58  170.02  157.34
9        Pete  121.42  133.76  119.64  243.70  153.24  134.14  183.98  157.10
10      James     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
11       Zach     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
12       Loof     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN

       9.1  ...     5.3     6.3     7.3     8.3     9.3    10.3    11.3  \
0   151.54  ...  127.12   97.94  144.68  120.52   94.54  121.58  140.04
1   144.92  ...  141.00  122.22  152.80   85.06  125.82  127.40  119.56
2   121.50  ...   93.60  142.64  105.96  110.32   70.80   98.76  111.14
3   114.80  ...  141.76  121.30  110.52  141.94  188.70   90.90  126.80
4   136.16  ...   91.02  153.68  128.48   71.46  133.94  110.86  119.94
5   105.40  ...  133.38   96.24  156.76  121.64   99.70  111.72   89.88
6    80.14  ...  146.62  111.48  125.80   98.84  108.56  121.46  131.00
7   175.18  ...  103.28  107.38  104.32   80.58  101.08   84.74  108.80
8   113.16  ...  137.70  124.40  161.20  102.94  123.28   90.82  156.92
9   160.74  ...  150.94  115.90  126.66  145.24  133.94  112.22  136.96
10     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
11     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
12     NaN  ...  150.94  115.90  126.66  145.24  133.94  112.22  136.96

      12.3    13.3  14.3
0   180.64  115.26   NaN
1    64.60   79.62   NaN
2    75.22  111.48   NaN
3   115.94  150.64   NaN
4   149.98  108.50   NaN
5    91.10  127.42   NaN
6   138.16  111.88   NaN
7   100.18   58.10   NaN
8   164.08  139.32   NaN
9   179.12  161.84   NaN
10     NaN     NaN   NaN
11     NaN     NaN   NaN
12  179.12  161.84   NaN

[13 rows x 43 columns]>

## Rename Team Columns

In [3]:
et1 = et.rename(columns = {'Unnamed: 0': 'Team'})
st1 = st.rename(columns = {'Unnamed: 0': 'Team'})

## Create bool Array

In [4]:
 results = np.ones((192), dtype=bool)
 results

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True])

## Correct Result Matchup Function

In [5]:
def matchup(matchupnumber, team1, team2, weeknumber):
  if et1.loc[team1,weeknumber] > et1.loc[team2,weeknumber]:
    if st1.loc[team1,weeknumber] > st1.loc[team2,weeknumber]:
      results[matchupnumber] = True
    else: results[matchupnumber] = False
  else: 
    if st1.loc[team1,weeknumber] > st1.loc[team2,weeknumber]:
      results[matchupnumber] = False
    else: results[matchupnumber] = True

## Import Matchups

In [6]:
matchupsList = pd.read_csv('matchups.csv')

In [7]:
matchupsList.head()

   matchupnumber  team1  team2  weeknumber
0              0      0      6         4.1
1              1      1      4         4.1
2              2      2      7         4.1
3              3      3      5         4.1
4              4      8      9         4.1

## Model Accuracy Total

In [8]:
for i in range(0,192):
  matchup(int(matchupsList.loc[i,'matchupnumber']), int(matchupsList.loc[i,'team1']), int(matchupsList.loc[i,'team2']), str(matchupsList.loc[i,'weeknumber']))
  print(results[i])

False
False
False
False
False
True
True
True
False
False
False
True
True
True
True
True
True
False
True
False
True
False
True
True
True
True
False
True
True
False
True
False
True
True
True
False
False
False
False
True
True
True
False
True
True
False
False
False
True
True
False
False
True
False
False
True
True
False
False
False
True
False
False
False
False
False
False
True
True
True
True
True
False
True
True
False
False
False
True
False
True
False
False
False
True
True
False
False
False
False
False
False
False
True
True
False
True
False
False
False
True
True
False
False
True
True
True
False
True
False
True
False
True
False
True
False
True
False
False
True
False
True
True
False
False
True
False
False
False
True
False
False
True
False
True
False
True
False
True
False
True
True
False
False
False
False
False
False
True
False
False
True
True
False
False
False
False
False
True
True
True
True
True
True
False
False
False
True
False
False
False
False
True
True
True
True
False
True
False
False
False
False
False
True
False
True
False
True
True
False
True
True

In [9]:
results_df = pd.DataFrame({'Correct': results})

In [10]:
results_df['Correct'].value_counts() / 192

False    0.541667
True     0.458333
Name: Correct, dtype: float64

## Model Accuracy Season 1

In [11]:
season_one = results_df.iloc[:50]
season_one['Correct'].value_counts() / 50

True     0.56
False    0.44
Name: Correct, dtype: float64

## Model Accuracy Season 2

In [12]:
season_two = results_df.iloc[49:128]
season_two['Correct'].value_counts() / 78

False    0.589744
True     0.423077
Name: Correct, dtype: float64

## Model Accuracy Season 3

In [13]:
season_three = results_df.iloc[-65:]

In [14]:
season_three['Correct'].value_counts() / 65

False    0.569231
True     0.430769
Name: Correct, dtype: float64